@page "/plan/selectclassesforplan"

@using AppForSEII2526.Web.API;
@inject AppForSEII2526APIClient apiClient
@inject ILogger<SelectClassesForPlan> logger
@inject PlanStateContainer planState


<h3>Select Classes For Plan</h3>
<div class="container-fluid">
    <div class="row" hidden="@hideErrors">
        <p>Errors: @errors</p>
    </div>
    <div class="row">
        <div class="col-8">
            <div class="row">

                <div class="col">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Type</span>
                        <input type="text" id="inputType" @bind=type class="form-control" placeholder="Type" aria-label="Type" aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-primary" @onclick=@SearchPlanning id="searchPlan">Search plan</button>
                </div>
            </div>
            <div class="row">
                @if (classes == null)
                {
                    <p>Loading classes...</p>
                }
                else
                {
                    <p>Number of classes @classes.Count</p>
                }
            </div>
        </div>
        <div class="col-2">
            <p>Here I will show the planning list</p>
        </div>
    </div>


</div>

@code {
    private ICollection<ClassForPlanDTO> classes;

    private bool hideErrors { get { return errors.Length == 0; } }
    private string errors = "";

    private DateTime date { get; set; }
    private string type { get; set; }

    private DateTime? fromDate { get; set; }
    private DateTime? toDate { get; set; }


    private CreatePlanDTO plan => planState.Plan;

    // cuando le des a buscar muestre pelis y salga un boton y el siguiente mostrar en el resumen de la derecha

    public async void SearchPlanning()
    {
        try
        {
            classes = await apiClient.GetClassesForPlanningAsync(null, null);
        }
        catch (Exception ex)
        {
            logger.LogError($"{DateTime.Now} Error: {ex}");
            errors = "Error while connecting to the system";
        }
        StateHasChanged();
    }

    protected override Task OnInitializedAsync()
    {
        SearchPlanning();
        return base.OnInitializedAsync();
    }
}