@inherits LayoutComponentBase

<div class="header">
    <div class="header-left">
        <img src="images/logo.png" class="logo" alt="Exergymise Logo" />
        <div class="header-text">
            <h1>EXERGYMISE</h1>
            <p>Your complete gym management system</p>
        </div>
    </div>

    <button class="logout-btn">Log Out</button>
</div>

<div class="menu-container">
    <NavLink href="createplan" class="menu-box" activeClass="menu-box-active">Create Plan</NavLink>
    <NavLink href="reportincident" class="menu-box" activeClass="menu-box-active">Report Incident</NavLink>
    <NavLink href="shop" class="menu-box" activeClass="menu-box-active">Shop</NavLink>
</div>

<main>
    @Body
</main>

